{% extends "booking/base.html" %}
{% block title %} Dashboard {% endblock title %}
{% block content %}

{% if request.user.is_staff %}
<div class="container px-4">
    <h1>Current Courses</h1>
    {% for c in course %}
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'course' c.id %}">See More</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% else %}
<h1>Sorry you are not staff</h1>
{% endif %}

{% endblock content %}