{% extends "booking/base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="container px-4">
    <br>
    <!--SECTION FOR COMPANY WIDE COURSES-->
    <h1>Current Company Wide Courses</h1>
    <br>
    {% for c in GLO_courses %}
    {% if not c.course_completed %}
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Available to:</b><p>{{c.division}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'book' c.id %}">See More</a>
        </div>
      </div>
      <br>
      {% endif %}
    {% endfor %}
    <!--END SECTION FOR COMPANY WIDE COURSES-->

    <!--SECTION FOR TECHNOLOGY COURSES-->
    {% if request.user.profile.division == "TEC" %}
    <h1>Current Technology Courses</h1>
    <br>
    {% for c in TEC_courses %}
    {% if not c.course_completed %}
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Available to:</b><p>{{c.division}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'book' c.id %}">See More</a>
        </div>
      </div>
      <br>
      {% endif %}
    {% endfor %}
    {% endif %}
    <!--END SECTION FOR TECHNOLOGY COURSES-->

    <!--SECTION FOR OPERATIONS COURSES-->
    {% if request.user.profile.division == "OPE" %}
    <h1>Current Operations Courses</h1>
    <br>
    {% for c in OPE_courses %}
    {% if not c.course_completed %}
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Available to:</b><p>{{c.division}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'book' c.id %}">See More</a>
        </div>
      </div>
      <br>
      {% endif %}
    {% endfor %}
    {% endif %}
    <!--END SECTION FOR OPERATIONS COURSES-->

    <!--SECTION FOR FINANCE COURSES-->
    {% if request.user.profile.division == "FIN" %}
    <h1>Current Finance Courses</h1>
    <br>
    {% for c in FIN_courses %}
    {% if not c.course_completed %}
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Available to:</b><p>{{c.division}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'book' c.id %}">See More</a>
        </div>
      </div>
      <br>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!--END SECTION FOR FINANCE COURSES-->

    <!--SECTION FOR MARKETING COURSES-->
    {% if request.user.profile.division == "MAR" %}
    <h1>Current Marketing Courses</h1>
    <br>
    {% for c in MAR_courses %}
    {% if not c.course_completed %}
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Available to:</b><p>{{c.division}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <a href="{% url 'book' c.id %}">See More</a>
        </div>
      </div>
      <br>
      {% endif %}
    {% endfor %}
    {% endif %}
    <!--END SECTION FOR MARKETING COURSES-->
    
  </div>

{% endblock content %}