{% extends "booking/base.html" %}
{% block content %}

<br>
<br>
<div class="content-section container px-4">

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card rounded-0 p-0 shadow-sm">
      <div style="max-height: 200px; max-width: 400px; overflow: hidden;">
      </div>
      <div class="card-body text-center">
        <canvas id="myChart"></canvas>
        <br>
        <a class="btn btn-success" href="#">Download</a>
        <a class="btn btn-primary" href="#">Expand</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}