{% extends "booking/base.html" %}
{% block title %} Book Training {% endblock title %}
{% block content %}

{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

{% endif %}
<br>
<div class="container px-4">
    {% for c in course %}
    <h1>{{c.courseName}}</h1>
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">
           <b>Course: </b><p>{{c.courseName}}</p>
           <b>Description</b><p>{{c.courseDesc}}</p>
           <b>Trainer: </b><p>{{c.host}}</p>
           <b>Start Date: </b><p>{{c.start_date}}</p>
           <b>End Date: </b><p>{{c.end_date}}</p>
           <b>Approved Attendees: </b> 
           {% for a in c.attendees_set.all %} <!--Using reverse forign key lookup to get list of attendees for a course-->
           {% if a.status == "APR" %}
           <ul>
               <li>{{a.user}} <a href="{% url 'deleteBooking' a.id %}" class="btn btn-danger btn-sm">Delete</a></li>
           </ul>
           {% endif %}
           {% endfor %}
           <hr>
           <b>Pending Attendees: </b> 
           {% for a in c.attendees_set.all %} <!--Using reverse forign key lookup to get list of attendees for a course-->
           {% if a.status == "PEN" %}
           <ul>
               <li>{{a.user}}</li>
           </ul>
           {% endif %}
           {% endfor %}
           {% for cc in course %}
           {% if c.course_completed %}
           <a class="btn btn-secondary" disabled>This course is complete</a>
           {% else %}
           <a href="{% url 'courseComplete' cc.id %}" class="btn btn-success">Mark as complete</a>
           {% endif %}
           {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  
{% endblock content %}